/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/*
1. Vị trí
2. Kích thước (widht, height)
3. Màu sắc
4. Kiểu dáng (kiểu chữ, tròn, vuông)

Từ ngoài vào trong
Từ trên xuống dưới
Từ tổng quan đến chi tiết

*/
/* BREAK POINT */
/* 
    PC: >= 1024px
    tablet: >= 740px && < 1024px
    mobile: < 740px
*/
/*  */
/* Common */

.clear {
    clear: both;
}
.text-white {
    color: white !important;
}
.text-align-center {
    text-align: center;
}
.row {
    margin-left: -8px;
    margin-right: -8px;

}
.row::after {
    content: "";
    display: block;
    clear: both;
}
.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;

}
.col-third {
    width: 33.33333%;
}
.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}
.contact-form {
    font-size: 17px;
}

.mt-top8 {
    margin-top: 8px !important;
}
.mt-top16 {
    margin-top: 16px !important;
}
.btn {
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 11px 18px;
    display: inline-block;
    margin-top: 18px;
    border: none;
    appearance: none;
    -webkit-appearance: none;

}


.btn:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}
.pull-right {
    float: right;
}

#main {
    /* overflow: hidden;  */
    /* cai nao lo ra ngoai thi khong an di */
}

#header {
    height: 46.5px;
    background-color: #000; /* den */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav {
    display: inline-block;
}


#nav > li {
    display: inline-block;
    position: relative;
}

#nav > li > a { 
    color: #fff;
    text-transform: uppercase;
}
#nav li a {
    text-decoration: none;
    line-height: 46.5px;
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav li:hover a,
#nav > li:hover > a {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 180px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    list-style-type: none;
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#header .mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
}

#header .mobile-menu-btn,
#header .search-button {
    float: right;
    padding: 0 21px;
}

#header .search-button:hover {
    cursor: pointer;
    background-color: #f44336;
}

#header .mobile-menu-btn:hover .menu-icon{
    color: #000;
}

#header .mobile-menu-btn:hover {
    background-color: #ccc;
}

#header .menu-icon,
#header .search-icon {
    line-height: 46.5px;
    color: #fff;
    font-size: 20px;
}

#slider {
    position: relative;
    margin-top: 46.5px;
    padding-top: 50%;
/*  50% chieu ngang cua chinh no */
    background: url('./img/slider/slider1.jpg') top center / cover no-repeat;
}   

#slider .text-content {
    position: absolute;
    bottom: 65px;
    color: #fff;
    /* left: 50%;
    transform: translateX(-50%); */
    width: 100%;
    text-align: center;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
    text-shadow: 0 0 1px #000;
}
#content { 

}

#content .content-section {
    width: 800px;
    max-width: 100%;
    padding: 64px 12px;
    margin-left: auto;
    margin-right : auto;
    margin-bottom: 30px;
}

#content .section-heading {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 4px;
}

#content .section-sub-heading {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-class {
    text-align: justify;
    margin-top: 25px;
    font-size: 15px;
    line-height: 1.4;
}

#content .members-list {
    padding-top: 48px;
    /* overflow: hidden; */
}

#content .member-name {
    font-size: 15px;
    font-weight: 600;
}
#content .member-img {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;

}

/* Tour section */
.tour-section {
    background-color: #000;
    /* padding-bottom: 80px; */
}
.ticket-lists {
    background-color: #fff;
    margin-top: 40px;
    list-style-type: none;
}
.ticket-lists li {
    font-size: 15px;
    padding: 11px 16px;
    color: #757575;
    border-bottom: 1px solid #ddd;
}
.ticket-lists .sold-out {
    background-color: #F44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}
.ticket-lists .quantity {
    background-color: #000;
    color: #fff;
    float: right;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

/* Places */
.place-lists {
    margin-top: 16px;
    margin-bottom: 48px;
}

.place-item {
    float: left;

}
.place-img {
    width: 100%;
    display: block;
}
.place-img:hover {
    opacity: 0.6;
}
.place-body {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;

}
.place-heading {
    font-size: 15px;
    font-weight: 600;
}

.place-time {
    margin-top: 15px;
    color: #757575;
}

.place-description {
    margin-top: 15px;
    line-height: 1.4;
}

.place-buy-button {
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 11px 18px;
    display: inline-block;
    margin-top: 18px;

}

.place-buy-button:hover {
    color: #000;
    background-color: #ccc;
}
/* Contact Form */
.contact-content {
    margin-top: 30px;
}
.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.contact-info {
    font-size: 18px;
    line-height: 1.4;
    margin-top: 62px;
}

.contact-info i{
    width: 30px;
    /* display: inline-block; */
}

/* Map section */

.map-section img {
    width: 100%;
    filter: grayscale(50%);
}

/* Footer section */

#footer {
    padding: 64px 16px;
    text-align: center;

}

#footer .social-lists {
    font-size: 24px;
}
#footer .social-lists a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}
#footer .social-lists a:hover,
#footer .copyright a:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.4);
}
#footer .copyright {
    margin: 15px 0 30px 0;
    color: rgba(0, 0, 0, 0.6);
}
#footer .copyright a {
   color: rgba(0, 0, 0, 0.6);

}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
    /* display: flex; */
}
.modal-container {
    position: relative;
    background: #fff;
    width: 900px;
    min-height: 200px;
    /* margin-left: -54px; */
    max-width: calc(100%-35px);

}

.modal-header {
    background-color: #009688;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #fff;
}

.modal-heading-icon {
    margin-right: 16px;
}
.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    cursor: pointer;
    padding: 12px;
}

.modal-close:hover {
    opacity: 0.6;
}

.modal-body {
    padding: 16px;
}
.modal-label {
    display: block;
    font-size: 15px;
    margin-top: 24px;
    margin-bottom: 12px;
}
.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
}
#buy-tickets {
    background-color: #009688;
    color: #fff;
    border: none;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
    margin-top: 18px;
    cursor: pointer;
}
#buy-tickets:hover {
    opacity: 0.8;
}
.modal-footer {
    padding: 16px;
    text-align: right;
}
.modal-footer a {
    color: #2196F3;
}

